# Expo
.expo/
dist/
web-build/

# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Misc
*.log
.metro-health-check*
